<div class="card">
    <div class="card-header">
        <button mat-button class="header-button" (click)="postNewPass()">
            <mat-icon class="button-icon">add</mat-icon>
            <span class="button-label">Add New Pass</span>
        </button>
    </div>

    <div class="card-body">
        <div class="filter-bar">
            <form class="filter-bar-form" [formGroup]="passesFormGroup">
                <mat-form-field>
                    <input matInput formControlName="stationId" placeholder="Station ID">
                </mat-form-field>
                <mat-form-field>
                    <input matInput formControlName="tagId" placeholder="Tag ID">
                </mat-form-field>
                <mat-form-field>
                    <input matInput formControlName="charge" placeholder="Charge">
                </mat-form-field>
                <mat-form-field>
                    <input matInput formControlName="timestamp" placeholder="Timestamp">
                </mat-form-field>
            </form>
        </div>

        <div>
            <table mat-table matSort [dataSource]="passesDatasource">
                <ng-container matColumnDef="station_id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Station ID</th>
                    <td mat-cell *matCellDef="let row"> {{row.StationID}} </td>
                </ng-container>

                <ng-container matColumnDef="station_operator">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Station Operator</th>
                    <td mat-cell *matCellDef="let row"> {{Auxiliary.getOperatorName(row.StationOperator)}} </td>
                </ng-container>

                <ng-container matColumnDef="tag_id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Tag ID</th>
                    <td mat-cell *matCellDef="let row"> {{row.TagID}} </td>
                </ng-container>

                <ng-container matColumnDef="tag_provider">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Tag Provider</th>
                    <td mat-cell *matCellDef="let row"> {{Auxiliary.getOperatorName(row.TagProvider)}} </td>
                </ng-container>

                <ng-container matColumnDef="pass_type">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Pass Type</th>
                    <td mat-cell *matCellDef="let row"> {{row.PassType}} </td>
                </ng-container>

                <ng-container matColumnDef="charge">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Charge</th>
                    <td mat-cell *matCellDef="let row"> {{row.Charge}} </td>
                </ng-container>

                <ng-container matColumnDef="timestamp">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Timestamp</th>
                    <td mat-cell *matCellDef="let row"> {{Auxiliary.getFormattedDate(row.TimeStamp)}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsPasses"></tr>
                <tr mat-row class="hoverable-table-row" *matRowDef="let row; columns: displayedColumnsPasses;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[100]" (page)="getPasses()"></mat-paginator>

        </div>

    </div>
