<div class="card">
    <div class="card-header">
        <button mat-button class="header-button" (click)="getSettlement()">
            <mat-icon class="button-icon">done</mat-icon>
            <span class="button-label">Run Settlement</span>
        </button>
    </div>

    <div class="card-body">
        <div class="filter-bar">
            <mat-icon class="filter-bar-icon">search</mat-icon>

            <form class="filter-bar-form" [formGroup]="settlementFormGroup">
                <mat-form-field style="width: 50%;">
                    <mat-label>Operator 1</mat-label>
                    <mat-select formControlName="operatorA">
                        <mat-option [value]="'WV7J'">Attiki Odos</mat-option>
                        <mat-option [value]="'SXNF'">Aegean Motorway</mat-option>
                        <mat-option [value]="'1G5N'">Egnatia Odos</mat-option>
                        <mat-option [value]="'JNI9'">Kendriki Odos</mat-option>
                        <mat-option [value]="'NLLG'">Moreas</mat-option>
                        <mat-option [value]="'NJO4'">Nea Odos</mat-option>
                        <mat-option [value]="'1VYY'">Olympia Odos</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field style="width: 50%;">
                    <mat-label>Operator B</mat-label>
                    <mat-select formControlName="operatorB">
                        <mat-option [value]="'WV7J'">Attiki Odos</mat-option>
                        <mat-option [value]="'SXNF'">Aegean Motorway</mat-option>
                        <mat-option [value]="'1G5N'">Egnatia Odos</mat-option>
                        <mat-option [value]="'JNI9'">Kendriki Odos</mat-option>
                        <mat-option [value]="'NLLG'">Moreas</mat-option>
                        <mat-option [value]="'NJO4'">Nea Odos</mat-option>
                        <mat-option [value]="'1VYY'">Olympia Odos</mat-option>
                    </mat-select>
                </mat-form-field>
<!--                <mat-form-field style="width: 50%;">-->
<!--                    <mat-label>Time Range</mat-label>-->
<!--                    <mat-select formControlName="timeRange">-->
<!--                        <mat-option [value]="'week'">Last Week</mat-option>-->
<!--                        <mat-option [value]="'month'">Last Month</mat-option>-->
<!--                        <mat-option [value]="'all'">All</mat-option>-->
<!--                    </mat-select>-->
<!--                </mat-form-field>-->
            </form>
        </div>

        <div class="table-title">
            <div *ngIf="settlementDTO != null">
                {{Auxiliary.getOperatorName(settlementDTO.OwningOperator)}} owns <i>{{Math.round(settlementDTO.AmountOwned* 100) / 100}}€</i> to {{Auxiliary.getOperatorName(settlementDTO.StationOperator)}}
            </div>
        </div>

        <div>
            <table mat-table matSort [dataSource]="settlementDatasource">
                <ng-container matColumnDef="station_id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Station ID</th>
                    <td mat-cell *matCellDef="let row"> {{row.StationID}} </td>
                </ng-container>

                <ng-container matColumnDef="station_operator">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Station Operator</th>
                    <td mat-cell *matCellDef="let row"> {{Auxiliary.getOperatorName(row.StationOperator)}} </td>
                </ng-container>

                <ng-container matColumnDef="tag_id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Tag ID</th>
                    <td mat-cell *matCellDef="let row"> {{row.TagID}} </td>
                </ng-container>

                <ng-container matColumnDef="tag_provider">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Tag Provider</th>
                    <td mat-cell *matCellDef="let row"> {{Auxiliary.getOperatorName(row.TagProvider)}} </td>
                </ng-container>

                <ng-container matColumnDef="pass_type">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Pass Type</th>
                    <td mat-cell *matCellDef="let row"> {{row.PassType}} </td>
                </ng-container>

                <ng-container matColumnDef="charge">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Charge</th>
                    <td mat-cell *matCellDef="let row"> {{row.Charge}} </td>
                </ng-container>

                <ng-container matColumnDef="timestamp">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Timestamp</th>
                    <td mat-cell *matCellDef="let row"> {{Auxiliary.getFormattedDate(row.TimeStamp)}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsPasses"></tr>
                <tr mat-row class="hoverable-table-row" *matRowDef="let row; columns: displayedColumnsPasses;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[100]" (page)="getSettlement()"></mat-paginator>
        </div>

    </div>
</div>
