<div class="card">
    <div class="card-header">
        <button mat-button class="header-button">
            <mat-icon class="button-icon">done</mat-icon>
            <span class="button-label">Run Settlement</span>
        </button>
    </div>

    <div class="card-body">
        <div class="filter-bar">
            <mat-icon class="filter-bar-icon">search</mat-icon>

            <form class="filter-bar-form" [formGroup]="settlementsFiltersFormGroup">
                <mat-form-field style="width: 50%;">
                    <mat-label>Operator 1</mat-label>
                    <mat-select formControlName="operatorA">
                        <mat-option [value]="''"></mat-option>
                        <mat-option [value]="'aodos'">Aodos</mat-option>
                        <mat-option [value]="'egnatia'">Egnatia</mat-option>
                        <mat-option [value]="'kentriki_odos'">Kentriki Odos</mat-option>
                        <mat-option [value]="'moreas'">Moreas</mat-option>
                        <mat-option [value]="'nea_odos'">Nea Odos</mat-option>
                        <mat-option [value]="'olympia_odos'">Olympia Odos</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field style="width: 50%;">
                    <mat-label>Operator B</mat-label>
                    <mat-select formControlName="operatorB">
                        <mat-option [value]="''"></mat-option>
                        <mat-option [value]="'aodos'">Aodos</mat-option>
                        <mat-option [value]="'egnatia'">Egnatia</mat-option>
                        <mat-option [value]="'kentriki_odos'">Kentriki Odos</mat-option>
                        <mat-option [value]="'moreas'">Moreas</mat-option>
                        <mat-option [value]="'nea_odos'">Nea Odos</mat-option>
                        <mat-option [value]="'olympia_odos'">Olympia Odos</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field style="width: 50%;">
                    <mat-label>Time Range</mat-label>
                    <mat-select formControlName="timeRange">
                        <mat-option [value]="'week'">Last Week</mat-option>
                        <mat-option [value]="'month'">Last Month</mat-option>
                        <mat-option [value]="'all'">All</mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
        </div>

        <div class="table-title">
            Operator A owns x amount to Operator B
        </div>

        <div>
            <table mat-table matSort [dataSource]="passesDatasource">
                <ng-container matColumnDef="station_id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Station ID</th>
                    <td mat-cell *matCellDef="let row"> {{row.stationId}} </td>
                </ng-container>

                <ng-container matColumnDef="station_provider">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Station Provider</th>
                    <td mat-cell *matCellDef="let row"> {{row.vehicleId}} </td>
                </ng-container>

                <ng-container matColumnDef="tag_id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Tag ID</th>
                    <td mat-cell *matCellDef="let row"> {{row.tagId}} </td>
                </ng-container>

                <ng-container matColumnDef="tag_provider">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Tag Provider</th>
                    <td mat-cell *matCellDef="let row"> {{row.vehicleId}} </td>
                </ng-container>

                <ng-container matColumnDef="pass_type">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Pass Type</th>
                    <td mat-cell *matCellDef="let row"> {{row.vehicleId}} </td>
                </ng-container>

                <ng-container matColumnDef="charge">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Charge</th>
                    <td mat-cell *matCellDef="let row"> {{row.charge}} </td>
                </ng-container>

                <ng-container matColumnDef="timestamp">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Timestamp</th>
                    <td mat-cell *matCellDef="let row"> {{row.timestamp}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsPasses"></tr>
                <tr mat-row class="hoverable-table-row" *matRowDef="let row; columns: displayedColumnsPasses;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[10, 50, 100]" (page)="updateTable()"></mat-paginator>
        </div>

</div>
